<!DOCTYPE html>
<html>
<head>
  <title>ArtFeedSF</title>
  <meta name="description" content="The latest art & art-related news, tweets, and events in the San Francisco Bay Area"> 
  <meta name="keywords" content="Art,SF,Galleries,Art News,Art Tweets,Art Events,San Francisco">
  <meta name="author" content="Alex Ehrnschwender">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= render "partials/footer" %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV["GOOGLE_ANALYTICS_TRACKING_CODE"] %>', 'artfeedsf.com');
    ga('send', 'pageview');

  </script>


</body>
</html>
